---
name: Lint

on: push

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install yamllint
        run: pip install --user yamllint
      - name: Run yamllint
        run: yamllint -c .yamllint .

  ansible-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install ansible-lint
        run: pip install --user ansible-lint
      - name: Run ansible-lint
        run: ansible-lint .
